In [12]:
import numpy as np
import pandas as pd

In [24]:
result_dir = "/home/salesort/Documents/644_CMPUT/res_analysis"
cases = ["manyR", "R1manyD"]
#cosines = [False, True]
suffix_str = ""
l_df = []
for case in cases:
    for cosine_str in ["", "_cosine"]:
        result_file = f"{result_dir}/df_{case}{cosine_str}{suffix_str}.csv"
        print(result_file)
        df_load = pd.read_csv(result_file)
        df_load["case"] = case
        df_load["distance"] = "cosine" if len(cosine_str) > 1 else "Euclidean"
        l_df.append(df_load)

df_result = pd.concat(l_df)
df_result.info()

/home/salesort/Documents/644_CMPUT/res_analysis/df_manyR.csv
/home/salesort/Documents/644_CMPUT/res_analysis/df_manyR_cosine.csv
/home/salesort/Documents/644_CMPUT/res_analysis/df_R1manyD.csv
/home/salesort/Documents/644_CMPUT/res_analysis/df_R1manyD_cosine.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 630 entries, 0 to 109
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   R          630 non-null    int64
 1   D          630 non-null    float64
 2   kappa      630 non-null    float64
 3   accu       630 non-null    float64
 4   TN         630 non-null    int64
 5   FN         630 non-null    int64
 6   TP         630 non-null    int64
 7   FP         630 non-null    int64
 8   Recall     585 non-null    float64
 9   Precision  399 non-null    float64
 10  TPR        585 non-null    float64
 11  FPR        630 non-null    float64
 12  F1         593 non-null    float64
 13  case       630 non-null    object
 14  distance   630 non-null    object
dtypes: float64(8), int64(5), object(2)
memory usage: 78.8+ KB

In [25]:
df_result.head()

,R,D,kappa,accu,TN,FN,TP,FP,Recall,Precision,TPR,FPR,F1,case,distance
0,0,0.1,0.0,0.000,0,0,0,200,NaN,0.0,NaN,1.000,0.0,manyR,Euclidean
1,0,0.1,0.2,0.040,8,0,0,192,NaN,0.0,NaN,0.960,0.0,manyR,Euclidean
2,0,0.1,0.4,0.195,39,0,0,161,NaN,0.0,NaN,0.805,0.0,manyR,Euclidean
3,0,0.1,0.6,0.560,112,0,0,88,NaN,0.0,NaN,0.440,0.0,manyR,Euclidean
4,0,0.1,0.8,0.835,167,0,0,33,NaN,0.0,NaN,0.165,0.0,manyR,Euclidean

In [29]:
gdf_result = df_result[df_result["F1"] >= 0.9].groupby(by = ["case", "distance", "R", "D"]).agg(kappa_min = ("kappa", "min"),
                                                                                      kappa_max = ("kappa", "max")
                                                                                     ).reset_index()
gdf_result.head(200)

       case   distance     R     D  kappa_min  kappa_max
0   R1manyD  Euclidean     1  0.10       1.00      35.00
1   R1manyD  Euclidean     1  0.50       2.00      25.00
2   R1manyD  Euclidean     1  0.75       3.00      25.00
3   R1manyD  Euclidean     1  0.90       3.00      20.00
4   R1manyD     cosine     1  0.10       0.02       0.10
5   R1manyD     cosine     1  0.50       0.04       0.12
6   R1manyD     cosine     1  0.75       0.04       0.14
7   R1manyD     cosine     1  0.90       0.06       0.14
8     manyR  Euclidean     1  0.10       2.00      30.00
9     manyR  Euclidean     3  0.10       2.00      25.00
10    manyR  Euclidean    10  0.10       2.00      20.00
11    manyR  Euclidean    30  0.10       2.00      15.00
12    manyR  Euclidean   100  0.10       2.00      10.00
13    manyR  Euclidean   300  0.10       2.00      10.00
14    manyR  Euclidean  1000  0.10       3.00      10.00
15    manyR  Euclidean  3000  0.10       3.00      10.00
16    manyR     cosine     1  0.10       0.02       0.10
17    manyR     cosine     3  0.10       0.04       0.10
18    manyR     cosine    10  0.10       0.04       0.08
19    manyR     cosine    30  0.10       0.04       0.08
20    manyR     cosine   100  0.10       0.02       0.06
21    manyR     cosine   300  0.10       0.02       0.08
22    manyR     cosine  1000  0.10       0.04       0.10
23    manyR     cosine  3000  0.10       0.04       0.06

In [3]:


for case in cases:
    for cosine in cosines:

#Rs = [0, 1, 3, 10, 30, 100, 300, 1_000, 3_000]
SERVER_ROUNDS = 20
suffix_str = ""
if cosine:
    # Kappas for cosine similarity
    # kappas = np.round(np.concatenate((np.arange(0,0.3, 0.02), np.arange(0.3, 1, 0.1))),3)   
    cosine_str = '_cosine'
else:
    # Kappas for Euclidean distance
    # kappas = np.round(np.concatenate((np.arange(0, 1, 0.2), np.arange(1,10,1), np.arange(10,55,5))),3)
    cosine_str = ''



if case == "manyR":
    title = "Multiple mislabeled samples, balanced data"
    var_label = var = "R"
elif case == "R0manyD":
    title = "No mislabeled samples, unbalanced data"
    var = "D"
elif case == "R1manyD":
    title = "One mislabeled sample, unbalanced data"
    var = "D"
    var_label = "Dominant Proportion"
    
if cosine:
    title += " (Cosine dissimilarity)"
else:
    title += " (Euclidean distance)"

df_handle = f"df_{case}{cosine_str}{suffix_str}.csv"
print(df_handle)

list_df = []

NameError: name 'case' is not defined